/* HOME SECTION STYLE */

@media (max-width: 768px) {

    .main-container{
        display: flex !important;
        flex-direction: column !important;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
        margin: 0 auto;
        padding: 0 auto;
        margin-left: 2.5rem;
    }

    .main-container .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;            
        text-align: center;
        justify-content: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem; 
        flex-wrap: wrap; 
        margin-top: 2rem;
    }

    .social-links a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        border: 0.2rem solid #b74b4b;
        color: #b74b4b;
        font-size: rem;
        transition: 0.3s ease;
    }

    .social-links a:hover {
        background: #b74b4b;
        color: black;
        transform: scale(1.2);
    }

    .main-container .image img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .main-container h1,
    .main-container span,
    .main-container .typewrite{
        font-size: 3rem;
        text-align: center;
    }

    .main-container .social-links,
    .main-container .social-links a{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }
}

/* DROP DOWN */

@media (max-width: 768px) {
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .nav-container .link {
        display: none;
    }

    .hamburg {
        opacity: 1;
        pointer-events: auto;
    }

    .dropdown {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 20px;
        background: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border-radius: 10px;
        z-index: 999;
    }

    .dropdown.active{
        display: flex;
    }
    
}

/* ABOUT SECTION STYLE */

@media (max-width: 768px) {
    .about .about-details {
        flex-direction: column !important; 
        align-items: center; 
        padding: 20px;
        gap: 30px;
        display: flex; 
        text-align: center;
        justify-content: center;
    }

    .about .about-details .left,
    .about .about-details .right {
        width: 100%; 
        margin: 0;
        text-align: center; 
    }

    .about .left img {
        width: 100%; 
        height: auto;
        margin: 0 auto; 
    }

    .about .about-details .right p {
        font-size: 1.3rem;
        text-align: center; 
    }

    .about .about-details .right .text{
        font-size: 3rem;
    }

    .about .about-details .right span{
        font-size: 3rem;
    }

}

