
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
        /* background: #121217;
        overflow-x: hidden; */
    }

    html {
        /*scroll-behavior: smooth;*/
        font-size: 62.5%;
    }

    body {
        background-color: black;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        /*height: 100vh; */

    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #b74b4b;
        border-radius: 12px;
        transition: all 0.3s ease;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #b74b4b;
    }

    nav {
        width: 100%;
        height: 7vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(5px);
   
    }

    nav a.active,
    .dropdown a.active {
        color: #b74b4b;
        font-weight: bold;
        text-shadow: 0 0 10px #b74b4b;
    }

    .nav-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        color: white;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3 ease;
    }

    .logo span{
        color: #b74b4b;
        text-shadow: 0 0 10px #b74b4b;
        transition: transform 0.3s ease, text-shadow 0.3 ease;
    }

    .logo:hover {
        transform: scale(1.1) translate(-3px);
        color: #b74b4b;
    }

    
    /* .logo img{
        position: relative;
        width: 4vw;
        height: auto;
        box-shadow: 0 0 25px solid #b74b4b;
        cursor: pointer;
        transition: 0.2s linear;
    }

    .logo img:hover {
        color: black;
        transform: scale(1.1) translate(-5px);
    } */

    .nav-container .links{
        display: flex;
    }

    .nav-container .links a{
        position: relative;
        font-size: 2rem;
        color: white;
        margin: 0 20px;
        text-decoration:none;
        font-weight: 550;
        transition: 0.3s ease;
        letter-spacing: 1px;
    } 

    .nav-container .links a::before{
        position: absolute;
        content: "";
        bottom: -3px;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: #b74b4b;
        transition: 0.2s linear;
    }

    .nav-container .links a:hover::before {
            width: 100%;
        }

    .nav-container .links a:hover{
        color: #b74b4b;
    }

    .nav-container .links a.active{
        color: #b74b4b;
    }

.dropdown {
  display: none;
}

.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  font-size: 3rem;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 200;
}

.dropdown.active {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.95);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-100%);
  transition: all 0.4s ease;
  text-align: center;
  z-index: 100;
  transition: all 0.4s ease;
  backdrop-filter: blur(4px);
  display: none;
  opacity: 0;
}

.dropdown .link {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
}

.dropdown .link a {
  color: white;
  font-size: 1.8rem;
  transition: 0.3s ease;
}

.dropdown .link a:hover {
  color: #b74b4b;
}

.dropdown .link {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.dropdown .link a {
  color: white;
  font-size: 1.8rem;
  margin: 1rem 0;
  transition: 0.3s ease;
}

.nav-container .link a.active,
.dropdown .link a.active {
  color: #b74b4b;
  text-shadow: 0 0 8px #b74b4b;
}

.dropdown .link a:hover {
  color: #b74b4b;
}

 
    section{
        width: 100%;
        min-height: 90vh;
        scroll-margin-top: 10vh;
    }
    
    section .main-container{
        display: flex;  
        justify-content: space-between; 
        padding-left: 100px;
        align-items: center;
    }

    .main-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }

    .main-container .image{

        width: 500px;
        height: 500px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 50px #b74b4b;
        cursor: pointer;
        border-style: double;
        animation: animate 6s ease-in-out infinite;
    }

    .main-container .image img{
        width: 100%;
        height: auto;

    }

    .main-container .image:hover{
        animation:animate 1.5s ease-in-out infinite;
    }

    @keyframes animate{
        0%{
            scale: 1;
        }
        50%{
            scale: 1.05;
        }
        100%{
            scale: 1;
        }
    }
    .main-container .content{
        color: white;
        width: 40%;
    }

    .content h1{
        /* font-size: clamp(1rem, 1rem +5vw, 1.8rem); */
        margin-bottom: 20px;
        font-size: 80px;
        font-weight: 600;
       /* min-width: 280px; */
    }
    .content h1 span{
        color: #b74b4b;
        text-shadow: 0 0 10px #b74b4b;


    }

    .content .typewrite{
      /*  font-size: clamp(1rem, 1rem +5vw, 2.5rem); */
        font-weight: 600;
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    .content .typewrite-text{
        color: #b74b4b;
        text-shadow: 0 0 10px #b74b4b;
        transition: color 0.3s ease;
    }

    .social-links a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        background-color: transparent;
        border: 0.2rem solid #b74b4b;
        font-size: 2rem;
        border-radius: 50%;
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
        color: #b74b4b;

    }

    .social-links a:hover {
        color: black;
        transform: scale(1.3) translate(-5px);
        background-color: #b74b4b;
        box-shadow: 0 0 25px #b74b4b;

    }


    .btn button {
        display: inline-block;
        padding: 1rem 2.8rem;
        background-color: black;
        border-radius: 4 rem;
        font-size: 1.6rem;
        color: #b74b4b;
        letter-spacing: 0.3rem;
        font-weight: 600;
        border: 2px solid #b74b4b;
        transition: 0.3s ease;
        cursor: pointer;
        justify-content: center;

    }
 
    .btn button:hover {
        transform: scale3d(1.03);
        background-color: #b74b4b;
        color: black;
    }
 
    


    section .content{
        width: 80%;
        margin: 0px auto;
        font-family: 'Poppins', sans-serif;
        scroll-margin-top: 10vh;
    }

    .about .about-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    section .title{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    section .title span{
        color: white;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        padding-bottom: 8px;
    }

    section .title span::before,
    section .title span::after{
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background:#b74b4b;
        left: 0;
        bottom: 0;
    }

    section .title span::after{
        bottom: -7px;
        width: 70%;
        left: 50%;
        transform:translate(-50%);
    }

    .about .about-details .left{
        width: 45%;
    }

    .about .about-details .right{
        text-align: left;
    }

    .about .left img{
        height: 500px;
        width: 500px;
        overflow: hidden;
        cursor: pointer;
        border-style: double;
        animation: animate 6s ease-in-out infinite;      
        box-shadow: 0 0 50px #b74b4b;
        border-radius: 50%;
    }

    .about .left img{
        width: 100%;
        height: auto;
    }

    .about .left img:hover{
        animation:animate 1.5s ease-in-out infinite;
    }

    .about-details .right{
        width: 50%;
    }

    section .topic{
        color: white;
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .about-details .right p{
        text-align: justify;
        color: white;
        font-size: 1.5rem;

    }
    


